pipeline:
  name: Qwen-Image
  dtype: torch.bfloat16
eval:
  num_steps: 50
  guidance_scale: 0
  protocol: fmeuler{num_steps}-g{guidance_scale}
  num_samples: 100
  benchmarks:
    - "MJHQ"
  gt_metrics:
    - clip_iqa
    - clip_score
    - fid
quant:
  calib:
    batch_size: 1
  wgts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 32
      element_size: 512
      sample_size: -1
    low_rank:
      sample_batch_size: 32
      sample_size: -1
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - transformer_img_mod
      - transformer_txt_mod
      - down_sample
      - up_sample
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - down_sample
    - up_sample
  ipts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 32
      element_size: 512
      sample_size: -1
    skips: 
    - embed
    - resblock_shortcut
    - resblock_time_proj
    - transformer_proj_in
    - transformer_proj_out
    - transformer_norm
    - transformer_add_norm
    - transformer_img_mod
    - transformer_txt_mod
    - down_sample
    - up_sample
  opts:
    calib_range:
      element_batch_size: 64
      sample_batch_size: 32
      element_size: 512
      sample_size: -1
  smooth:
    proj:
      element_batch_size: -1
      sample_batch_size: 32
      element_size: -1
      sample_size: -1
      skips:
      - embed
      - resblock
      - transformer_proj_in
      - transformer_proj_out
      - transformer_norm
      - transformer_add_norm
      - transformer_img_mod
      - transformer_txt_mod
      - down_sample
      - up_sample
    attn:
      sample_batch_size: 32
      sample_size: -1
